{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div
                 class="col-md-1,">
             Представте ситуацию, и выбирите правильный ответ
            </div>
            <div
                class="col-md-8">
             Вы идете по набережной ,середина лета , пекучее солнце ,морской бриз, вдруг замечаете двух мальчиков одетых в рваные грязные вещи, они они смещаются в вашу сторону ускоряя шаг
          </div>
        </div>
    </div>
<div class="container">
    <p>ваши действия?</p>
    <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            убежать
          </label>
    </div>
    <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
            дать денег
          </label>
    </div>
    <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked >
            агресивно закрикнуть в сторону ребят
          </label>
    </div>
<div/>

<footer class="info" style="position: absolute; bottom: 0;width: 100%; color:grey ">
    <h5 class="text-center">&copy все права защищены &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   <small>2018</small></h5>
</footer>
{% endblock %}